body
{
	background-color: hsla(120, 0%, 10%, 1.0);
}

.page 
{  
	min-width: 700px;
	width: 700px;
	height: 100%;
	margin: auto;

	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.header
{
	width: 100%;
	height: 100px;
	background-color: hsla(120, 0%, 15%, 1.0);
}

.nav
{
	width: 100%;
	height: 50px;
	background-color: hsla(120, 0%, 25%, 1.0);
	
	flex-direction: row;
	align-items: stretch;
}

.projects-nav
{
	width: 100%;
	height: 50px;
	background-color: hsla(120, 0%, 70%, 1.0);
	
	flex-direction: row;
	justify-content: center;
}

.main
{
	width: 100%;
	height: auto;
	background-color: hsla(120, 0%, 25%, 1.0);
	
	flex-wrap: wrap;
}

.home-view
{
}

.project-view
{
	
	flex-wrap: wrap;
}

.content-view
{
	flex: 1;
	height: 300px;
	background-color: black;
	
	justify-content: center;
}

.content-image
{
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.project-details
{
	flex: 1;
	height: 300px;
	
    background-color: blue;
	opacity: 0.5;
}

.project-summary
{
	width: 100%;
	height: 200px;
	
    background-color: orange;
}

.footer
{
	width: 100%;
	height: 50px;
	background-color: hsla(120, 0%, 15%, 1.0);
}

.nav-button
{
	height: 100%;
	background-color: hsla(120, 0%, 50%, 1.0);
	border: none;
	padding: 10px 24px;
	
    cursor: pointer;
	
	transition-property: background-color;
    transition-duration: 0.3s;
}

.nav-button:hover
{
	background-color: hsla(120, 0%, 100%, 1.0);
}

.projects-nav-button
{
	
}

.projects-nav-button:hover
{
	
}



.flex 
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;  
}

.width-margin
{
	margin: 0px 10px 0px 10px;
}
.height-padding
{
	padding: 10px 0px 10px 0px;
}
.height-margin
{
	margin: 10px 0px 10px 0px;
}
.box-margin
{
	margin: 10px 10px 10px 10px;
}