@import "compass/css3/flexbox";
@import "compass/css3/images";
@import "compass/css3/transition";

$page-color: hsla(210, 0%, 0%, 0.8);
$header-color: hsla(200, 0%, 50%, 0.9);
$header-alt-color: hsla(200, 0%, 50%, 0.7);
$header-text-back-color: hsla(200, 0%, 100%, 0.7);
$core-color: hsla(200, 0%, 30%, 0.9);
$nav-color: hsla(200, 0%, 20%, 0.5);
$project-content-color: hsla(200, 0%, 30%, 0.6);
$project-component-color: hsla(210, 0%, 0%, 0.7);
$button-color: hsla(200, 0%, 40%, 0.6);
$button-hover-color: hsla(120, 0%, 100%, 1.0);

html
{	
	overflow-y: scroll;
}

body
{		
	background-color: black;
	
 	@include background(linear-gradient(45deg,
	hsla(200, 50%, 0%, 1.0) 0%, hsla(200, 50%, 0%, 1.0) 0%,
	hsla(200, 50%, 5%, 1.0) 0%, hsla(200, 50%, 5%, 1.0) 50%,
	hsla(240, 50%, 0%, 1.0) 50%, hsla(240, 50%, 0%, 1.0) 51%,
	hsla(200, 50%, 10%, 1.0) 51%, hsla(200, 50%, 10%, 1.0) 61%,
	hsla(240, 50%, 0%, 1.0) 61%, hsla(240, 50%, 0%, 1.0) 62%,	
	hsla(200, 50%, 25%, 1.0) 62%, hsla(200, 50%, 25%, 1.0) 65%,
	hsla(240, 50%, 0%, 1.0) 65%, hsla(240, 50%, 0%, 1.0) 66%,
	hsla(240, 50%, 90%, 1.0) 66%, hsla(240, 50%, 90%, 1.0) 67%,
	hsla(240, 50%, 0%, 1.0) 67%, hsla(240, 50%, 0%, 1.0) 68%,
	hsla(240, 50%, 2%, 1.0) 68%, hsla(240, 50%, 2%, 1.0) 100%));
	
    background-repeat: no-repeat;
    background-attachment: fixed;
	
	font-family: calibri;
}

.page
{  
	min-width: 900px;
	width: 900px;
	height: 100%;
	margin: auto;
	
	@include flex-flow(row wrap);
	
	background-color: $page-color;
}

.header
{
	width: 100%;
	height: auto;
	
 	@include background(linear-gradient(135deg,
	hsla(200, 100%, 0%, 1.0) 0%, hsla(200, 100%, 0%, 1.0) 0%,
	hsla(200, 100%, 10%, 1.0) 0%, hsla(200, 100%, 10%, 1.0) 70%,
	hsla(240, 100%, 0%, 1.0) 70%, hsla(240, 100%, 0%, 1.0) 71%,
	hsla(200, 100%, 20%, 1.0) 71%, hsla(200, 100%, 20%, 1.0) 81%,
	hsla(240, 100%, 0%, 1.0) 81%, hsla(240, 100%, 0%, 1.0) 82%,	
	hsla(200, 100%, 50%, 1.0) 82%, hsla(200, 100%, 50%, 1.0) 85%,
	hsla(240, 100%, 0%, 1.0) 85%, hsla(240, 100%, 0%, 1.0) 86%,
	hsla(240, 100%, 90%, 1.0) 86%, hsla(240, 100%, 90%, 1.0) 87%,
	hsla(240, 100%, 0%, 1.0) 87%, hsla(240, 100%, 0%, 1.0) 88%,
	hsla(240, 100%, 2%, 1.0) 88%, hsla(240, 100%, 2%, 1.0) 100%));
}

.header-overlay1
{		
	height: auto;
	
	@include flex(1);
	
 	@include background(linear-gradient(135deg,
	hsla(200, 100%, 0%, 1.0) 0%, hsla(200, 100%, 0%, 1.0) 0%,
	hsla(200, 100%, 100%, 1.0) 0%, hsla(200, 100%, 100%, 1.0) 50%,
	hsla(240, 100%, 0%, 1.0) 50%, hsla(240, 100%, 0%, 1.0) 51%,
	hsla(200, 100%, 0%, 0.5) 51%, hsla(200, 100%, 0%, 0.5) 100%));
}

.header-main
{	
    text-shadow: 2px 2px $header-color;
}

.header-sub
{	
	color: $core-color;
    text-shadow: 1px 1px $header-color;
}

.nav
{
	width: 100%;
	height: auto;
	
	@include flex-direction(row);
	@include align-items(stretch);
	
	background-color: $nav-color;
}

.main
{
	width: 100%;
	height: auto;
	
	@include flex-wrap(wrap);
}

.footer
{
	width: 100%;
	height: auto;
	
 	@include background(linear-gradient(135deg, /* Standard syntax */
	hsla(200, 100%, 0%, 1.0) 0%, hsla(200, 100%, 0%, 1.0) 0%,		/* Black 	*/
	hsla(200, 100%, 10%, 1.0) 0%, hsla(200, 100%, 10%, 1.0) 70%, 		/* Blue 1	*/
	hsla(240, 100%, 0%, 1.0) 70%, hsla(240, 100%, 0%, 1.0) 71%,		/* Black 	*/
	hsla(200, 100%, 20%, 1.0) 71%, hsla(200, 100%, 20%, 1.0) 81%,	/* Blue 2	*/
	hsla(240, 100%, 0%, 1.0) 81%, hsla(240, 100%, 0%, 1.0) 82%,		/* Black 	*/
	hsla(200, 100%, 50%, 1.0) 82%, hsla(200, 100%, 50%, 1.0) 85%,	/* Blue 3	*/
	hsla(240, 100%, 0%, 1.0) 85%, hsla(240, 100%, 0%, 1.0) 86%,		/* Black 	*/
	hsla(240, 100%, 100%, 1.0) 86%, hsla(240, 100%, 100%, 1.0) 87%,		/* Black 	*/
	hsla(240, 100%, 0%, 1.0) 87%, hsla(240, 100%, 0%, 1.0) 88%,		/* Black 	*/
	hsla(240, 100%, 2%, 1.0) 88%, hsla(240, 100%, 2%, 1.0) 100%)		/* Black 	*/);
}

.home-view
{
	@include flex(1);
	
	background-color: $nav-color;
}

.project-view
{
	@include flex(1);
	@include flex-flow(row wrap);

	background-color: $nav-color;
}

.resume-view
{
	@include flex(1);
	@include flex-flow(column wrap);
	
	background-color: $nav-color;
}

.home-content
{
	@include flex(1);
	
	background-color: $project-content-color;
}

.work-content
{	
	@include flex(1);
	@include flex-flow(row wrap);
	
	background-color: $project-content-color;
}

.type-nav
{
	height: auto;
	
	@include flex(1);
	@include flex-direction(row);
	@include justify-content(center);
}

.project-nav-wrapper
{
	width: 100%;
	height: auto;
	
	background-color: $project-content-color;
	
	@include flex-direction(row);
	@include justify-content(space-between);
}

.project-nav
{
	width: auto;
	height: auto;
	
	@include flex-direction(row);
	@include justify-content(center);
}

.project-body
{
	height: auto;
	
	@include flex-flow(row wrap);
}

.project-content
{
	@include flex(1);
	@include flex-flow(row wrap);
	
	background-color: $project-content-color;
}

.project-media
{
	height: 300px;
	
	@include flex(1);
	@include justify-content(center);
	
	background-color: $project-component-color;
}

.project-image
{
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

.project-details
{
	height: 300px;
	
	@include flex(1);
	
	background-color: $project-component-color;
}
.project-details p, .project-details h1
{
	color: grey;
}

.project-summary
{
	width: 100%;
	height: auto;
	
	background-color: $project-component-color;
}
.project-summary p
{
	color: grey;
}

.project-summary p
{
	width: 100%;
	
    text-align: justify;
}

.nav-button
{
	height: 100%;
	border: none;
	padding: 10px 24px;
    cursor: pointer;
	
	background-color: $button-color;
	
	@include transition-property(background-color);
    @include transition-duration(0.3s);
}

.nav-button:hover, .nav-button.active-nav
{
	background-color: $button-hover-color;
}

.type-nav-button
{
	height: 100%;
	border: none;
	padding: 10px 24px;
	
	line-height: 50%;
    cursor: pointer;
	
	background-color: $button-color;
	
	@include transition-property(background-color);
    @include transition-duration(0.3s);
}

.type-nav-button:hover, .type-nav-button.active-nav
{
	background-color: $button-hover-color;
}

.project-nav-button
{
	height: 100%;
	border: none;
	padding: 10px;
	
	line-height: 50%;
    cursor: pointer;
	
	background-color: $button-color;
	
	@include transition-property(background-color);
    @include transition-duration(0.3s);
}

.project-nav-button:hover, .project-nav-button.active-nav
{
	background-color: $button-hover-color;
}

.project-side-nav-button
{
	height: 100%;
	border: none;
	padding: 10px;
	
	line-height: 50%;
    cursor: pointer;
	
	background-color: $button-color;
	
	@include transition-property(background-color);
    @include transition-duration(0.3s);
}

.project-side-nav-button:hover
{
	background-color: $button-hover-color;
}





.work-entry
{
	
}

.work-entry:nth-child(odd)
{
	background-color: $header-alt-color;
}

.work-entry .work-duration
{
	float: right;
}

.work-summary
{
	text-align: justify;
}



.flex 
{
	@include display-flex(flex);
}

.height-padding
{
	padding: 10px 0px 10px 0px;
}
.box-padding
{
	padding: 10px 10px 10px 10px;
}
.width-margin
{
	margin: 0px 10px 0px 10px;
}
.height-margin
{
	margin: 10px 0px 10px 0px;
}
.box-margin
{
	margin: 10px 10px 10px 10px;
}