<!DOCTYPE html>
<html>
<head>
	<title>Declan - Portfolio</title>
	<meta charset="UTF-8"> 
	<link rel="stylesheet" href="css/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript" src="js/populateProject.js"></script>
	<script type="text/javascript" src="js/populateTechnical.js"></script>
<body>	
	<div class="page flex box-padding">
		<header class="header flex height-margin">
			<div class="header-overlay1 box-margin">
				<h1 class="header-main box-margin">DECLAN WONG</h1>
				<h3 class="header-sub box-margin">SOFTWARE ENGINEER, GAME DEVELOPER</h3>
			</div>
		</header>
		<nav class="nav flex">
			<button class="nav-button active-nav">HOME</button>
			<button class="nav-button">PROJECTS</button>
			<button class="nav-button">RÉSUMÉ</button>
			<button class="nav-button">PROFILE</button>
		</nav>
		<main class="main flex height-padding" id="main">
			<div class="home-view flex box-padding">
				<div class="home-content box-padding">
					<div class="text-content box-padding">
						<h1>DECLAN</h1>
						<h2>
							Welcome to my online portfolio!
						</h2>
						<p>
							My most recent role as a game developer has provided me with the necessary skills to operate within various development teams, adopting industry standards and procedures in producing high quality software. I am a recent graduate seeking work in the software engineering industry, looking to constantly improve and refine my abilities.
						</p>
						<p>
							I am extremely passionate in the field of development, and have experience in a range of outputs including games, tools, and frameworks. I look forward to applying these skills within a business environment and hope to create applications of polished quality. Throughout my career and future employment, I have strong aspirations in advancing toward higher end development of design and infrastructure.
						</p>
					</div>
				</div>
			</div>
			<div class="project-view flex">
				<div class="type-nav flex height-margin">
					<button class="type-nav-button">INDUSTRY</button>
					<button class="type-nav-button">PERSONAL</button>
					<button class="type-nav-button">ACADEMIC</button>
				</div>
				<div class="project-body flex">
					<div class="project-nav-wrapper flex width-margin">
						<button class="project-side-nav-button project-side-nav-left-button">&lt</button>
						<div class="project-nav flex">
						</div>
						<button class="project-side-nav-button project-side-nav-right-button">&gt</button>
					</div>
					<div class="project-content flex box-margin">
						<div class="project-media text-content flex box-padding box-margin">
							<img class="project-image"></img>
						</div>
						<div class="project-details text-content box-padding box-margin">
							<h1>
								<span class="project-title"></span> 
								(<span class="project-year"></span>)
							</h1>
							<p>
								Environment:
								<span class="project-environment"></span>
								(<span class="project-languages"></span>)
							</p>
							<p>
								Company:
								<span class="project-company"></span>
							</p>
						</div>
						<div class="project-summary text-content box-padding box-margin">
						</div>
					</div>
				</div>
			</div>
			<div class="resume-view flex box-padding" ng-app="myApp" ng-controller="resumeCtrl">
				<div class="profile-content box-padding height-margin">
					<h1>TECHNICAL</h1>
					<div class="text-content box-padding">
						<table class="technical-content">
							<tr ng-repeat="x in skills">
								<td>{{ x.Area }}</td>
								<td>{{ x.Skills }}</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="profile-content box-padding height-margin">
					<h1>WORK</h1>
					<div class="work-entry-wrapper">
						<div class="work-entry text-content box-padding">
							<h2>
								<span class="work-role"></span> - 
								<span class="work-company"></span>
								<span class="work-duration"></span>
							</h2>
							<div class="work-summary-wrapper">
								<p class="work-summary"></p>
							</div>
						</div>
					</div>
				</div>
				<div class="profile-content box-padding height-margin">
					<h1>EDUCATION</h1>
					<div class="text-content box-padding">
						<table class="education-content">
							<tr ng-repeat="x in education">
								<td>{{ x.Degree }}</td>
								<td>{{ x.Provider }}</td>
								<td>{{ x.Duration }}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<div class="profile-view flex box-padding">
				<div class="profile-content box-padding">
					<div class="text-content box-padding">
						<h1>PROFILE</h1>
						<h2>
						</h2>
						<p>
						</p>
						<p>
						</p>
					</div>
				</div>
			</div>
		</main>
		<footer class="footer flex box-padding">
			
		</footer>
	</div>
</body>
</html>